:root{
  --primary-font-family: 'Poppins', sans-serif;
  --primary-color: #182B55;
  --primary-gradient: linear-gradient(to right bottom, #182b55, #1c2f5a, #203460, #243865, #283d6b);
  --secondary-color: #88A4E0;
  --secondary-text-color: #EBEBEB;
  --dashboard-card-background-color: rgba(229, 229, 229, 29%);
  --sidebar-card-background-color: rgba(106, 129, 181, 29%);
}


.App{
  display: flex;
  font-family: var(--primary-font-family);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.dashboard{
 background: white;
 color: var(--primary-color);
 width: 70%;
}

.sidebar{
  background-image: var(--primary-gradient);
  color: var(--secondary-text-color);
  width: 30%;
}